<h1>About us</h1>
<p> I'm trying to build a brand new website using Ruby on Rails. I hope this can evolve into a project that my mother can use to post her content online. It's real fun so far learning with the  One Month Rails course </p>
